form {
    background-color: rgba(235, 229, 229, 0.5);
    padding: 30px;
    margin: 170px 60px;
    border-radius: 20px;
    box-shadow: var(--sombra);
}

legend {
    font-size: 33px;
    font-family: var(--fonte);
    margin: 0 0 25px 0;
    text-align: center;
    font-weight: bold;
    color: rgba(41, 39, 39, 0.8);
}

.produtos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

label {
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 500;
}

input {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 8px 0;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: 0 solid;
    width: 100%;
    box-shadow: var(--sombra);
    font-family: var(--fonte);
    font-weight: 300;
}

input:focus {
    outline: none;
    border: 2px solid rgba(92, 90, 90);
}

input::placeholder {
    font-weight: 300;
}

.required {
    color: red;
    font-size: 14px;
    font-family: var(--fonte);
    font-weight: 300;
}

button {
    width: 100%;
    padding: 15px;
    margin: 40px 0 10px;
    border: 0 solid;
    transition: .3s;
    background-color: rgba(71, 70, 70, 0.7);
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(228, 221, 221);
}

button:hover {
    transform: scale(1.01);
    box-shadow: var(--sombra);
    background-color: rgba(226, 9, 9, 0.7);
}
