/* header */
header {
    background-color: rgb(241, 237, 237, 0.856);
    padding: 30px;
    border-bottom: 1px solid rgb(216, 209, 209);
    font-family: var(--fonte);
    box-shadow: var(--sombra);
}

/* dentro do header para separar as divs */
.container-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* navegação */
.navegacao {
    justify-self: start;
}

nav {
    display: flex;
    gap: 5px;
}

nav a {
    padding: 8px 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: .4s;
}

nav a:hover {
    transform: scale(1.01);
    color: rgb(253, 123, 1);
}

/* div do título da DRAFT SPORTS*/
.titulo {
    justify-self: center;
}

.inicio {
    text-decoration: none;
    color: black;
}

/* div da busca e do carrinho */
.buscar-e-carrinho {
    justify-self: end;
}

/* carrinho */
.carrinho {
    color: black;
    font-size: 18px;
}
