<section class="deleta-produto">
    
    <form (submit)="deletarProduto($event)">
        <legend>Deletar Produto</legend>

        <div class="produtos">
            <div class="produto">
                <!-- ID do Produto -->
                <label for="id">ID do Produto</label>
                <input id="id" type="number" inputmode="numeric" placeholder="ID do Produto" [formField]="deleteForm.id">
                @if (deleteForm.id().touched() && deleteForm.id().invalid()) {
                    @for (error of deleteForm.id().errors(); track error.kind) {
                        <span class="required">{{error.message}}</span>
                    }
                }
            </div>
        </div>

        <button>Deletar Produto</button>
    </form>

</section>
